##
*__pycache__/
*.project
*.pydevproject

## docs
*docs/build/

*pyc

# environment
env/BacterialTyper/
*.swp
/tmp_files

## information generated 
BacterialTyper/config/R/R_package.info.txt


## build
BacterialTyper.egg-info/
build/
dist/

