##
*__pycache__/
*.project
*.pydevproject

## docs
*docs/build/

*pyc

# environment
env/BacterialTyper_deb8/
env/BacterialTyper/
*.swp
/tmp_files
test/

## information generated 
BacterialTyper/config/R/R_package.info.txt

#developer
test_subset_reads/


## build
BacterialTyper.egg-info/
build/
dist/
.pypirc
