[submodule "third_party/PhiSpy"]
	path = third_party/PhiSpy
	url = https://github.com/JFsanchezherrero/PhiSpy.git
[submodule "third_party/IslandPath-DIMOB"]
	path = third_party/IslandPath-DIMOB
	url = https://github.com/JFsanchezherrero/islandpath
